<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Contrast Koa Sandbox</title>

    <!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="shortcut icon" href="/favicon.ico">

		<!-- Optional theme -->
    <link rel="stylesheet" href="/assets/app.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <body>
    <nav class="banner-dark navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Contrast Koa TestBench</a>
        </div>
      </div>
    </nav>

		<div class="container-fluid">
			<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <label>Rules</label>
          <ul class="nav nav-sidebar">
            <% navRoutes.forEach(({ name, base, products }) => { %>
            <li>
              <a href="<%= base %>">
                <%= name %> <% products.forEach((product) => {%>
                <span class="badge pull-right <% if(product === 'Protect') { %>badge-info<% } else { %>badge-success<%}%>">
                  <%= product %>
                </span>
                <% }); %>
              </a>
            </li>
            <% }); %>
          </ul>
          <label>Other Rules</label>
          <ul class="nav nav-sidebar">
            <li><a href="/header-injection">Header Injection</a></li>
            <li><a href="/csp-header">Csp Header Insecure</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/parampollution">Http Parameter Pollution</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%- body %>
          <hr />
          <footer>
            <p>&copy; <%- currentYear %> Contrast, Inc.</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
