<h1 class="page-header">Cross-site Scripting</h1>
<p>
  <a
    target="blank"
    href="https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)#Stored_and_Reflected_XSS_Attacks"
  >
    Cross-site Scripting (XSS) Info
  </a>
</p>

<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Query</h4>
    <% ['safe', 'unsafe'].forEach(function(safety) { %>
    <p>
      <a
        target="_blank"
        href="<%= viewData[0].url %>/<%= safety %>?input=<script>alert(1)%3B<%%2Fscript>"
      >
        <%= viewData[0].url %>/<%= safety %>?input=&lt;script&gt;alert(1);&lt;/script&gt;
      </a>
    </p>
    <% }); %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Params</h4>
    <% ['safe', 'unsafe'].forEach(function(safety) { %>
    <p>
      <a
        target="_blank"
        href="<%= viewData[1].url %>/<%= safety %>/<script>alert(1)%3B<%%2Fscript>"
      >
        <%= viewData[1].url %>/<%= safety %>/&lt;script&gt;alert(1);&lt;/script&gt;
      </a>
    </p>
    <% }); %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">POST Body</h4>
    <form
      method="<%= viewData[2].method %>"
      action="<%= viewData[2].url %>/unsafe"
      target="_blank"
    >
      <div class="form-group">
        <label>body.input</label>
        <input
          name="input"
          class="form-control"
          value="<script>alert(1)%3B<%%2Fscript>"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<% include ../partials/safe-buttons %>

<script type="text/javascript">

</script>
