<h1 class="page-header"><%= name %></h1>
<%- include ('../partials/ruleInfo.ejs') %>
<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Query</h4>
    <% groupedSinkData.query.forEach(function(sink) { %>
    <% ['unsafe', 'safe', 'noop'].forEach(function(safety) { %>
    <p>
      <a
        target="_blank"
        href="<%= sink.url %>/<%= safety %>?input=%3Cscript%3Ealert(1)%3B%3C%2Fscript%3E"
      >
        <%= sink.url %>/<%= safety %>?input=&lt;script&gt;alert(1);&lt;/script&gt;
      </a>
    </p>
    <% }); %>
    <% }); %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Params</h4>
    <% groupedSinkData.params.forEach(function(sink) { %>
    <% ['unsafe', 'safe', 'noop'].forEach(function(safety) { %>
    <p>
      <a
        target="_blank"
        href="<%= sink.urlWithoutParams %>/%3Cscript%3Ealert(1)%3B%3C%2Fscript%3E/<%= safety %>"
      >
        <%= sink.urlWithoutParams %>/&lt;script&gt;alert(1);&lt;/script&gt;/<%= safety %>
      </a>
    </p>
    <% }); %>
    <% }); %>
  </div>
</div>
<%- include ('../partials/safeButtons') %>
