<h1 class="page-header">Cross-site Scripting</h1>
<p>
  <a
    target="blank"
    href="https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)#Stored_and_Reflected_XSS_Attacks"
  >
    Cross-site Scripting (XSS) Info
  </a>
</p>

<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Query</h4>
    <% viewData.query.forEach(function(sink) { %>
    <% ['unsafe', 'safe'].forEach(function(safety) { %>
    <p>
      <a
        target="_blank"
        href="<%= sink.url %>/<%= safety %>?input=<script>alert(1)%3B<%%2Fscript>"
      >
        <%= sink.url %>/<%= safety %>?input=&lt;script&gt;alert(1);&lt;/script&gt;
      </a>
    </p>
    <% }); %>
    <% }); %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">Params</h4>
    <% viewData.params.forEach(function(sink) { %>
    <% ['unsafe', 'safe'].forEach(function(safety) { %>
    <p>
      <a
        target="_blank"
        href="<%= sink.urlWithoutParams %>/<script>alert(1)%3B<%%2Fscript>/<%= safety %>"
      >
        <%= sink.urlWithoutParams %>/&lt;script&gt;alert(1);&lt;/script&gt;/<%= safety %>
      </a>
    </p>
    <% }); %>
    <% }); %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
    <h4 class="sub-header">POST Body</h4>
    <% viewData.body.forEach(function(sink) { %>
    <form
      method="<%= sink.method %>"
      action="<%= sink.url %>/unsafe"
      target="_blank"
    >
      <div class="form-group">
        <label><%= sink.key %>.input</label>
        <input
          name="input"
          class="form-control"
          value="<script>alert(1)%3B<%%2Fscript>"
        />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <% }); %>
  </div>
</div>
<% include ../partials/safe-buttons %>

<script type="text/javascript">

</script>
